<div class="modal-content">
  <form (ngSubmit)="passBackProducer()" name="addNewProducerForm" #addNewProducerForm="ngForm" novalidate>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Dodaj Producenta</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeActiveModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-9">
          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Nazwa Producenta" name="name" id="name"
                   [(ngModel)]="newProducer.name" minlength="2" maxlength="32" required #name="ngModel">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="URL" name="producerUrl" id="producerUrl"
                   [(ngModel)]="newProducer.url">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeActiveModal()">Zamknij</button>
      <button type="submit" class="btn btn-primary" [disabled]="!addNewProducerForm.valid">Dodaj</button>
    </div>
  </form>
</div>
